* {
  margin: 0;
}


/* header------------------------- */
#header {
  width: 100%;
  height: 60px;
  background: black;
  position: fixed;
  left: 0;
  top: 0;
  float: left;
	font-size: 15px;
}
#header .logo {
  border: 1px solid black;
	width: 100%;
  height: 40%;
	text-align: center;
	position: absolute;
  display: flex; 
	top:25%;
	z-index: -1;
  margin-left:15px ;
}

#header .logo img {
	/* width: 100%; */
  height: 25px;
  margin-left: 20px;
}

.inputWithin input {
  background-color: black;
  margin-left: 20%;
  width: 120px;
  border-radius: 30px;
  border:1px solid lightblue;
  position: relative; 
  display: inline-block;
  color: lightblue;
}		
  /*左邊圖示*/
/* .inputWithin input img { 
  position: absolute; 			
  left: 3px;
  top: calc(50% - 0.5em);
} */





/* sidebar---------------------- */
#sidebar {
  /* view port height */
  height: calc(100vh - 60px);
  width: 15%;
  background: lightgoldenrodyellow;
  position: fixed;
  left: 0;
  top: 60px;
}


/* content------------------------ */
#content {
  width: calc(100% - 15%);
  margin-left: 15%;
  background: lightgreen;
}