* {
  margin: 0;
}

/* header------------------------- */
#header {
  width: 100%;
  height: 60px;
  background: lightgray;
  position: fixed;
  left: 0;
  top: 0;
  float: left;
	font-size: 15px;
}
#header .logo {
  border: 1px solid yellow;
	width: 100%;
  height: 40%;
	text-align: center;
	position: absolute;
  display: flex;                 
	top:25%;
	z-index: -1;
  margin-left:15px ;
}

#header .logo img {
  height: 25px;
  margin-left: 20px;
}

.inputWithin input {
  background-color: black;
  margin-left: 20%;
  width: 120px;
  border-radius: 30px;
  border:1px solid lightblue;
  display: inline-block;
  color: lightblue;
}		

fa-circle-user{
  color: lightblue;
}



/* sidebar---------------------- */
#sidebar {
  /* view port height */
  height: calc(100vh - 60px);
  width: 12%;
  background: lightgoldenrodyellow;
  position: fixed;
  left: 0;
  top: 60px;
}
#sidebar menu{
  border: 1px solid salmon;
}

#sidebar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#sidebar ul li{
  border: 1px solid blue;
  
}

#sidebar a {
  text-decoration:none;
  color: black;
}

/* content------------------------ */
#content {
  width: calc(100% - 12%);
  margin-left: 12%;
  background: lightgreen;
}