* {
  margin: 0;
}

/* header------------------------- */
#header {
  width: 100%;
  height: 60px;
  background: lightgray;
  position: fixed;
  left: 0;
  top: 0;
  float: left;
	font-size: 15px;
}
#header .logo {
  border: 1px solid yellow;
	width: 100%;
  height: 40%;
	text-align: center;
	position: absolute;
  display: flex;                 
	top:25%;
	z-index: -1;
  margin-left:15px ;
}

#header .logo img {
  height: 25px;
  margin-left: 20px;
}

.inputWithin input {
  background-color: black;
  margin-left: 20%;
  width: 120px;
  border-radius: 30px;
  border:1px solid lightblue;
  display: inline-block;
  color: lightblue;
}		

/* sidebar---------------------- */
#sidebar {
  /* view port height */
  height: calc(100vh - 60px);
  width: 12%;
  position: fixed;
  left: 0;
  top: 60px;
}

#sidebar a {
  text-decoration:none;
  color: black;
  font-size: 12px;
}

#menu {
  width: 90%;
  margin: auto;
  margin-top: 15px;
  height: 95%;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
  /* border: 1px solid salmon; */
  overflow: scroll;
}

#menu::-webkit-scrollbar {
  width: 8px;
}

#menu::-webkit-scrollbar-thumb {
  background: rgb(149, 149, 149);
  border-radius: 10px;
}

#menu h1{
  font-size: 16px;
  font-weight: 400;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 10px;
}

#menu p{
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

#menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#menu ul li{
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  text-align: left;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
  /* background: lightcyan; */
}

#menu li:hover {
  background: rgba(231, 230, 230, 0.87);
}

#menu ul li i{
  font-size: 18px;
  margin-right:20px;
  margin-left: 15px;
  margin-top: 10px;
}

#menu .line{
  width: 100%;
  height: 1px;
  background:lightgray;
  margin-top: 12px;
  margin-bottom: 12px;
}

#menu .s-login{
  width: 90%;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 16px;
  line-height: 8px;
  /* background: pink; */
}

#menu .s-login a{
  display: block;
  width: 82px;
  height: 34px;
  border: 1px solid lightskyblue;
  border-radius: 30px;
  font-size: 15px;
  text-align: center;
  margin-top: 5px;
}

#menu .s-login i{
  font-size: 22px;
  margin-top:6px;
  margin-right: 5px;
}

.copyright{
  color: lightgray;
  margin-top: 20px;
  font-size: 14px;
}

/* content------------------------ */
#content {
  width: calc(100% - 12%);
  margin-left: 12%;
  background: lightgreen;
}